@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
}

.main-text-gradient {
background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
background-clip: text;
color: transparent
}

.main-gradient-color {
  color: rgb(63,94,251);
  color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.quote-bg-gradient-burbon {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.quote-style {
  text-wrap:balance;
  /* margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px; */
}

